<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bing.box">

    <application
        android:name=".BoxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:theme="@style/BoxTransparent"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/BoxTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BoxBrowserActivity"  android:theme="@style/BoxTransparent"/>
        <activity android:name=".activity.WidgetsActivity"/>
    </application>

</manifest>